button{
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #ff5001;
    color: #fff;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.64px;
}