.check-agree{
  margin-top: 22px;
  
  label{
    cursor: pointer;
    color: #232323;
    display: block;
    font-size: 15px;
    letter-spacing: -0.7px;

    input[type=checkbox] {
      display: none;

      +.label-text:before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: none;
        border: 1px solid #dadfe7;
        border-radius: 3px;
        margin-right: 10px;
      }
      &:checked + .label-text:before{
        content: "";
        background: #ff5001;
        background-image: url("../../static/images/check.png");
        background-repeat: no-repeat;
        background-size: 70% 45%;
        background-position: 50%;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #df4703;
        border-radius: 3px;
        color: #dddfe6;
        text-align: center;
      }
    }
  }
}
