.check-agree{
  margin-top: 22px;
  
  label{
    cursor: pointer;
    color: #232323;
    display: block;
    font-size: 15px;
    letter-spacing: -0.7px;

    input[type=checkbox] {
      display: none;

      +.label-text:before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #ff5001;
        border: 1px solid #df4703;
        border-radius: 3px;
        margin-right: 10px;
      }
      &:checked + .label-text:before{
        content: "!";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: #ff5001;
        border: 1px solid #df4703;
        border-radius: 3px;
        color: #dddfe6;
        text-align: center;
      }
    }
  }
}
