@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* 컨테이너 스타일링 */
.createTask-container {
    width: 784px;
    margin: auto;
    font-family: SpoqaHanSans;
    text-align: center;
    color: #61676f;
}

/* header 스타일링 */
.createTask-container .header {
    font-weight: 300;
    margin-top: 105px;
    margin-bottom: 47px;
}
.createTask-container .header-text {
    display: block;
    font-size: 30px;
    margin: 0;
    line-height: 1.33;
    letter-spacing: -1.59px;
    color: #61676f;
}

/* Task 추가 (input 및 btn) 스타일링 */
.createTask-container .add-task {
    width: 584px;
    height: 45px;
    border-radius: 7px;
    background-color: #f6f7f9;;
    margin: auto;
    font-size: 15px;
    letter-spacing: -0.7px;
}
.createTask-container .new-task-input {
    width: 475px;
    background-color: transparent;
    border: none;
    margin: 16px auto;
    padding: 0;
    color: #232323;
    opacity: 0.4;
}
.createTask-container .new-task-input:focus {
    outline: none;
}

.createTask-container .add-task-btn {
    width: 63px;
    height: 22px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.7px;
    color: #ff5001;
    padding: 0;
}

/* Dropdown List 스타일링 */
.createTask-container .dropdown-list {
    width: 584px;
    height: 284px;
    margin: 10px auto 38px auto;
    padding: 0;
    list-style-type: none;
    text-align: left;
    overflow-y: auto;
}
.dropdown-list::-webkit-scrollbar {
    width: 11px;
}
.dropdown-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ff5001;
}
.createTask-container .dropdown-list-item {
    margin: 10px 0;
    min-height: 34px;
}
.createTask-container .item-name {
    padding: 7px 11px;
    background-color: #f8f9fa;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.65px;
    color: #61676f;
}
.createTask-container .delete-task-btn {
    border: none;
    background-color: transparent;
    margin: auto 18px;
    width: 13px;
    height: 34px;
}

/* 넘어가기 Button 스타일링 */
.createTask-container .next-btns {
    font-size: 15px;
    letter-spacing: -0.64px;
    text-align: center;
    margin-bottom: 114px;
}
.createTask-container .skip-btn {
    width: 184px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #d9ffea;
    font-weight: bold;
    color: #01e165;
    margin: 0 16px;
}
.createTask-container .done-btn  {
    width: 284px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #ff5001;
    font-weight: bold;
    color: #ffffff;
    margin: 0 16px;
}